* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  background: #2B2B2B;
  color: #fff;
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

h5 {
  font-weight: 600;
  font-size: 22px;
  line-height: 31px;
}

h4 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 28px;
  line-height: 39px;
}

h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 38px;
  line-height: 45px;
}

button {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  font-family: "Work Sans", sans-serif;
}

.title {
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 60px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
}

.header {
  width: 100%;
  padding: 20px 50px 20px 53px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 80px;
}
.header__logo {
  display: block;
  width: 244px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__imgs {
  width: 26px;
  height: 26px;
  position: relative;
}
.header__img {
  position: absolute;
}
.header__img_logo-1 {
  top: 0;
  left: 0;
}
.header__img_logo-2 {
  top: 3px;
  left: 0;
}
.header__img_logo-3 {
  top: 3px;
  left: 8px;
}
.header__img_logo-4 {
  top: 3px;
  left: 16px;
}
.header__img_logo-5 {
  bottom: 0;
  left: 2px;
}
.header__title {
  width: 200px;
}
.header__nav {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.header__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.header__link a {
  padding: 12px 20px;
}

.signUP {
  position: relative;
  background: #A259FF;
  border-radius: 20px;
  padding: 19px 30px 19px 62px;
  border: none;
}
.signUP__img-1, .signUP__img-2 {
  position: absolute;
}
.signUP__img-1 {
  top: 22px;
  left: 34px;
}
.signUP__img-2 {
  top: 32px;
  left: 32px;
}

.main {
  width: 100%;
  padding: 0 115px;
  margin-bottom: 80px;
}
.main__welcome {
  display: flex;
  justify-content: space-between;
}
.main__left {
  max-width: 510px;
}
.main__left_title {
  font-weight: 600;
  font-size: 67px;
  line-height: 74px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.main__left_subtitle {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.main__left_btn {
  padding: 19px 50px 19px 82px;
  margin-bottom: 30px;
}
.main__left_statistic {
  display: flex;
  justify-content: space-between;
  max-width: 450px;
}
.main__left_item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main__left_statSubtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
}
.main__right {
  max-width: 510px;
}

.nft__item {
  width: 100%;
}
.nft__item_img {
  display: block;
  width: 100%;
}
.nft__item_descr {
  width: 100%;
  background: #3B3B3B;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: start;
  padding: 20px;
  border-radius: 0 0 20px 20px;
}
.nft__item_autor {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.trend {
  margin-bottom: 80px;
  padding: 0 115px;
  padding-top: 80px;
}
.trend__container {
  display: flex;
  justify-content: space-between;
}
.trend__card {
  max-width: 330px;
}
.trend__card_topImg {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 20px;
}
.trend__card_inner {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 15px;
       column-gap: 15px;
  margin-bottom: 15px;
}
.trend__card_bottomImg {
  width: 100px;
  height: 100px;
}
.trend__card_bottomImg img {
  border-radius: 22px;
}
.trend__card_counter {
  background: #A259FF;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono", monospace;
}

.creats {
  max-width: 1050px;
  position: relative;
  padding-top: 80px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.creats__subtitle {
  position: relative;
  display: inline-block;
}
.creats__wrapBtn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 100px;
  right: 0;
}
.creats__btn {
  background: none;
  border: solid 2px #A259FF;
  padding: 19px 50px 19px 82px;
  border-radius: 20px;
  position: relative;
  top: 0;
}
.creats__img-1 {
  position: absolute;
  top: 22px;
  left: 34px;
}/*# sourceMappingURL=style.css.map */